<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- link rel="stylesheet" th:href="@{/webjars/font-awesome/4.5.0/css/font-awesome.min.css}"/-->
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.7.2/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/webjars/jquery/2.0.3/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/lib/busy.js}"></script>
    <script th:src="@{/js/lib/FileSaver.min.js}"></script>
    <script th:src="@{/js/itb-upload.js}"></script>
</head>
<body>
<div class="container view-section">
    <div class="view-section-input">
        <form method="POST" enctype="multipart/form-data" th:action="@{${not minimalUI ? 'upload' : 'uploadm'}}" class="form-horizontal" th:fragment="form">
        	<div th:class="${minimalUI} ? panel-default : ''" th:classappend="${minimalUI} ? panel : ''">	
        		<div class="panel-heading panel-heading-ui"  th:if="${minimalUI}">
			        <h1 class="panel-title col-xs-5 minimal-title panel-title-ui">Validation input</h1>
	                <div th:align="right">
	                    <button type="submit" id="inputFileSubmit" class="btn btn-primary" disabled="true" onclick="uploadFile()" th:text="${config.label.uploadButton}">Upload</button>
	                </div>
			    </div>
			    <div th:class="${minimalUI} ? panel-body : ''">	  		            
		            <div class="form-group">
		                <label for="fileToValidate" class="col-sm-2 control-label" th:text="${config.label.fileInputLabel}">File to validate</label>
		                <div class="col-sm-2">
		                	<select class="form-control" id="contentType" name="contentType" onchange="contentTypeChanged()">
		                		<option th:each="type : ${contentType}" th:text="${type.label}" th:attr="value=${type.key}">Type</option>
			                </select>
		                </div>    
		                <div class="col-sm-8">
		                    <div class="row">
		                        <div class="col-sm-12" id="fileToValidate">
		                            <div class='input-group'>
		                                <div class="input-group-btn">
		                                    <button class="btn btn-default" type="button" onclick="triggerFileUpload()"><i class="far fa-folder-open"></i></button>
		                                </div>
		                                <input type="text" id="inputFileName" class="form-control" th:placeholder="${config.label.fileInputPlaceholder}" onclick="triggerFileUpload()" readonly="readonly"/>
		                            </div>
		                        </div>
		                        
		                        <input type="file" class="inputFile" id="inputFile" name="file" onchange="fileInputChanged()"/>
		                        <div class="col-sm-12 hidden" id="uriToValidate">
		                            <input type="url" class="form-control" id="uri" name="uri" onchange="fileInputChanged()">
		                        </div>
		                        <div class="col-sm-12 hidden" id="stringToValidate">
		                            <textarea id="text-editor" name="text-editor" class="form-control" onchange="fileInputChanged()"></textarea>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <div class="form-group includeExternalArtefacts hidden">
		                <div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox">
							    <label>
		                            <input type="checkbox" id="externalArtefactsCheck" name="addExternalArtefacts" onclick="toggleExternalArtefacts()"> <span th:text="${config.label.includeExternalArtefacts}">Include external artefacts</span>
							    </label>
								<span data-toggle="tooltip" data-container="body" data-placement="right" th:attr="title=${config.label.externalArtefactsTooltip}"><i class="far fa-question-circle"></i></span>
		                    </div>
						</div>
		            </div>
		            <div class="form-group externalSchemaClass">
		                <label for="externalSchemaAddButton" class="col-sm-2 control-label" th:text="${config.label.externalSchemaLabel}">XML Schema</label>
		                <div class="col-sm-10" id="externalSchemaDiv">
		                    <button id="externalSchemaAddButton" class="btn btn-default" type="button" onclick="addExternalSchema()"><i class="fas fa-plus"></i></button>
		                </div>
		            </div>
		            <div class="form-group externalSchClass">
		                <label for="externalSchAddButton" class="col-sm-2 control-label" th:text="${config.label.externalSchematronLabel}">Schematron</label>
		                <div class="col-sm-10" id="externalSchemaDiv">
		                    <button id="externalSchAddButton" class="btn btn-default" type="button" onclick="addExternalSchematron()"><i class="fas fa-plus"></i></button>
		                </div>
		            </div>
		            <div class="form-group" th:if="${not minimalUI}">
		                <div class="col-sm-offset-2 col-sm-10" th:if="${not minimalUI}">
		                    <button type="submit" id="inputFileSubmit" class="btn btn-primary" disabled="true" onclick="uploadFile()" th:text="${config.label.uploadButton}">Upload</button>
		                </div>
		            </div>
	    		</div>
	    	</div>
        </form>
    </div>
</div>
</body>
</html>
