<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:replace="fragments/common :: header">Validator</title>
        <script th:src="@{/webjars/codemirror/5.62.2/mode/xml/xml.js}"></script>
        <script th:src="@{/js/lib/FileSaver.min.js}"></script>
        <script th:if="${report}" th:inline="text">
        /*<![CDATA[*/
            getReportData("[[${inputID}]]");
        /*]]>*/
        </script>
        <script th:inline="javascript">
            var externalArtifacts = {};
            [# th:each="artifactInfoEntry : ${externalArtifactInfo}"]
                externalArtifacts[[# th:text="${artifactInfoEntry.key}" /]] = {}
                [# th:each="artifactTypeInfoEntry : ${artifactInfoEntry.value}"]
                    externalArtifacts[[# th:text="${artifactInfoEntry.key}" /]][[# th:text="${artifactTypeInfoEntry.key}" /]] = [# th:text="${artifactTypeInfoEntry.value}" /];
                [/]
            [/]
            configure({
                externalArtifactFileLabel: [[${localiser.localise('validator.label.optionContentFile')}]],
                externalArtifactURILabel: [[${localiser.localise('validator.label.optionContentURI')}]],
                externalArtifactSettings: {
                    schema: {
                        filePlaceholder: [[${localiser.localise('validator.label.externalSchemaPlaceholder')}]],
                        maxCount: 1
                    },
                    schematron: {
                        filePlaceholder: [[${localiser.localise('validator.label.externalSchematronPlaceholder')}]]
                    }
                },
                codeTypeObj: "xml",
                isMinimalUI: [[${minimalUI}]],
                artifactTypes: ['schema', 'schematron'],
                externalArtifacts: externalArtifacts
            });
        </script>
    </head>
    <body th:class="${not minimalUI} ? body-ui : ''">
        <div th:classappend="${not minimalUI} ? view-section-ui : ''" class="container view-section">
            <div class="view-section-input" th:if="${!minimalUI || report == null}">
                <div th:replace="fragments/input :: pageHeader(${config}, ${minimalUI})"/>
                <form method="POST" enctype="multipart/form-data" th:action="@{${not minimalUI ? 'upload' : 'uploadm'}}" class="form-horizontal" novalidate="novalidate">
                    <div th:class="${minimalUI} ? panel-default : ''" th:classappend="${minimalUI} ? panel : ''">
                        <div th:replace="fragments/input :: formHeader(${config}, ${minimalUI})"/>
                        <div th:class="${minimalUI} ? panel-body : ''">
                            <div th:replace="fragments/input :: mainForm(${config})"/>
                            <div th:replace="fragments/input :: externalArtifactCheck(${localiser.localise('validator.label.includeExternalArtefacts')}, ${localiser.localise('validator.label.externalArtefactsTooltip')})"/>
                            <div th:replace="fragments/input :: externalArtifactControl('schema', ${localiser.localise('validator.label.externalSchemaLabel')})"/>
                            <div th:replace="fragments/input :: externalArtifactControl('schematron', ${localiser.localise('validator.label.externalSchematronLabel')})"/>
                            <div th:replace="fragments/input :: submit(${config}, ${minimalUI})"/>
                        </div>
                    </div>
                </form>
            </div>
            <div th:if="${report}" th:class="${not minimalUI} ? view-section-result : ''">
                <div th:replace="fragments/output :: reportTitle(${config}, ${minimalUI})"/>
                <div class="panel panel-default">
                    <div th:replace="fragments/output :: reportHeader(${config}, ${minimalUI})"/>
                    <div th:replace="fragments/output :: reportSummary(${config}, true)"/>
                </div>
                <div th:replace="fragments/output :: reportDetails(${config}, ${minimalUI}, true)"/>
            </div>
            <div th:replace="fragments/common :: localeSelector(${config}, ${localiser.getLocale()})"/>
            <div th:replace="fragments/common :: footer(${config}, ${minimalUI})"/>
        </div>
        <div th:replace="fragments/common :: about">About</div>
        <div th:replace="fragments/common :: buildInfo">Build info</div>
    </body>
</html>
