<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:replace="~{fragments/common :: header}">Validator</title>
        <script th:src="@{/webjars/codemirror/mode/xml/xml.js}"></script>
        <script th:src="@{/js/lib/FileSaver.min.js}"></script>
        <script th:src="@{/js/itb-upload-xml.js}"></script>
        <script th:attr="nonce=${nonce}" th:inline="javascript">
            var externalArtifacts = {};
            [# th:each="artifactInfoEntry : ${externalArtifactInfo}"]
                externalArtifacts[[# th:text="${artifactInfoEntry.key}" /]] = {}
                [# th:each="artifactTypeInfoEntry : ${artifactInfoEntry.value}"]
                    externalArtifacts[[# th:text="${artifactInfoEntry.key}" /]][[# th:text="${artifactTypeInfoEntry.key}" /]] = [# th:text="${artifactTypeInfoEntry.value}" /];
                [/]
            [/]
            configure({
                externalArtifactFileLabel: [[${localiser.localise('validator.label.optionContentFile')}]],
                externalArtifactURILabel: [[${localiser.localise('validator.label.optionContentURI')}]],
                externalArtifactTextLabel: [[${localiser.localise('validator.label.optionContentDirectInput')}]],
                externalArtifactSettings: {
                    schema: {
                        maxCount: 1
                    }
                },
                codeTypeObj: "xml",
                isMinimalUI: [[${minimalUI}]],
                artifactTypes: ['schema', 'schematron'],
                externalArtifacts: externalArtifacts,
                labels: [(${labelConfig})]
            });
            var contextFiles = {};
            [# th:each="contextFileEntry : ${contextFileLabels}"]
                contextFiles[[# th:text="${contextFileEntry.key}" /]] = [];
                [# th:each="contextFileLabels : ${contextFileEntry.value}"]
                    contextFiles[[# th:text="${contextFileEntry.key}" /]].push({ label: [# th:text="${contextFileLabels.label()}" /], placeholder: [# th:text="${contextFileLabels.placeholder()}" /] });
                [/]
            [/]
        </script>
        <script th:attr="nonce=${nonce}" th:inline="javascript" th:if="${reportData}">
            $(document).ready(function() {
                displayReport([(${reportData})]);
            });
        </script>
    </head>
    <body th:class="${not minimalUI} ? body-ui : ''">
        <div th:classappend="${not minimalUI} ? view-section-ui : ''" class="container view-section">
            <div class="view-section-input" th:classappend="${minimalUI} ? 'minimal-ui' : 'normal-ui'" th:if="${!minimalUI || report == null}">
                <div th:replace="~{fragments/input :: pageHeader(${config}, ${minimalUI})}"/>
                <form method="POST" enctype="multipart/form-data" th:action="@{${not minimalUI ? 'upload' : 'uploadm'}}" class="form-horizontal" novalidate="novalidate">
                    <div th:class="${minimalUI} ? panel-default : ''" th:classappend="${minimalUI} ? panel : ''">
                        <div th:replace="~{fragments/input :: formHeader(${config}, ${minimalUI})}"/>
                        <div th:class="${minimalUI}?'panel-body panel-body-minimal':''">
                            <div th:replace="~{fragments/input :: mainForm(${config})}"/>
                            <div th:replace="~{fragments/input :: externalArtifactCheck(${localiser.localise('validator.label.includeExternalArtefacts')}, ${localiser.localise('validator.label.externalArtefactsTooltip')})}"/>
                            <div th:replace="~{fragments/input :: externalArtifactControl('schema', ${localiser.localise('validator.label.externalSchemaLabel')})}"/>
                            <div th:replace="~{fragments/input :: externalArtifactControl('schematron', ${localiser.localise('validator.label.externalSchematronLabel')})}"/>
                            <div th:if="${config.hasContextFiles()}" class="context-files"></div>
                            <div th:replace="~{fragments/input :: submit(${config}, ${minimalUI})}"/>
                        </div>
                        <div th:if="${minimalUI}" id="reportPlaceholder"></div>
                    </div>
                </form>
            </div>
            <th:block th:if="${!minimalUI}">
                <div id="reportPlaceholder"></div>
                <div th:replace="~{fragments/common :: localeSelector(${config}, ${localiser.getLocale()})}"/>
            </th:block>
            <div th:replace="~{fragments/common :: footer(${config}, ${minimalUI})}"/>
        </div>
        <div th:replace="~{fragments/common :: about}">About</div>
        <div th:replace="~{fragments/common :: buildInfo}">Build info</div>
    </body>
</html>
